.element {
  position: relative;
  width: 282px;
  height: 361px;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
}
.element__image {
  margin: 0;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}
.element__trash {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 18px;
  right: 15px;
}
.element__like {
  width: 21px;
  height: 19px;
  position: absolute;
  bottom: 30px;
  right: 18px;
}
.element__description {
  margin: 25px auto 0;
  width: 246px;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
